.main {
  display: grid;
  grid-template-columns: repeat(12, minMax(0, 1fr));
  column-gap: 2rem;
  padding-top: 3.5rem;

  p {
    color: #626262;
  }
}

.headerTop {
  grid-column: 2 / 12;

  .categoriesWrapper {
    display: flex;
    gap: 0.5rem;

    span {
      display: flex;
      padding: 0.25rem 0.5rem;
      align-items: center;
      gap: 9px;
      border-radius: 1.5rem;
      border: 1px solid #cecece;
      background: #f3f3f3;
      color: var(--color_text_main);
      font-size: 10px;
      font-weight: 500;
      white-space: nowrap;
      height: fit-content;
    }
  }
}

.imageWrapper {
  grid-column: 2 / 12;
  margin-top: 1.5rem;
}

.contentSection {
  grid-column: 3 / 11;
  margin-top: 4.5rem;

  > span {
    font-size: 20px;
    font-weight: 600;
  }

  h2 {
    font-size: 3rem;
    line-height: 4rem;
  }

  h3 {
    margin-top: 2rem;
  }

  p {
    font-size: 28px;
    line-height: 1.68;
    margin-top: 3rem;

    span {
      font-weight: 600;
    }
  }

  &:first-of-type {
    margin-top: 4.5rem;
  }
}

.gallerySection {
  grid-column: 2 / 11;
  position: relative;
  height: calc(25vw * 730 / 487 + 5rem);
  margin-top: 5rem;

  .imgWrapper {
    width: 25vw;
    position: absolute;

    &:first-of-type {
      right: 20vw;
      top: 6rem;
      z-index: -1;
    }

    &:last-of-type {
      right: 0;
      top: 0;
      z-index: -2;
    }
  }

  & + .contentSection {
    margin-top: 11rem;
  }
}

.breakSection {
  width: 100vw;
  margin-left: -2.5rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
  grid-column: span 12;
}

.infoSection {
  margin-top: 4rem;
  grid-column: 3 / 11;
  display: grid;
  grid-template-columns: repeat(8, minMax(0, 1fr));
  column-gap: 2rem;
  padding-bottom: 3.5rem;
  border-bottom: 2px solid #000;

  ul {
    padding-left: 2rem;
    margin-bottom: 1rem;

    &:first-of-type {
      margin-top: 3rem;
    }

    &:not(:first-of-type) {
      margin-top: 2rem;
    }

    li {
      font-size: 28px;
      color: #626262;

      &::marker {
        font-size: 1.5rem;
      }
    }
  }

  span {
    font-size: 36px;
    font-weight: 600;
    color: #161616;
    padding-left: 8.3vw;
    white-space: nowrap;

    span {
      padding-left: 0px;
      font-weight: 400;
      display: inline-block;
    }
  }

  .scopeWrapper {
    grid-column: span 5;

    h3 {
      font-size: 3rem;
    }
  }

  .statsWrapper {
    grid-column: span 3;

    h3 {
      font-size: 3rem;
    }
  }
}

.socialsSection {
  grid-column: 3 / 11;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 4.5rem;

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .socials {
    display: flex;
    gap: 0.5rem;
    margin-top: 5px;

    .social {
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;

      span {
        display: flex;
        padding: 0.25rem 0.5rem;
        align-items: center;
        gap: 0.5rem;
        border-radius: 1.5rem;
        border: 1px solid #cecece;
        background: #f3f3f3;
        color: var(--color_text_main);
        font-size: 10px;
        font-weight: 500;
        white-space: nowrap;
        height: fit-content;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    column-gap: 0.5rem;
    padding-top: 3.5rem;
  }

  .contentSection {
    margin-top: 3.5rem;
    grid-column: 2 / 12;

    span {
      font-size: 18px;
    }
    h2 {
      font-size: 2rem;
      line-height: 3rem;
    }

    p {
      font-size: 22px;
      margin-top: 2.5rem;

      &.specialOne {
        margin-top: 0px;
        margin-bottom: 1rem;
      }
    }

    &:first-of-type {
      margin-top: 3.5rem;
    }
  }

  .gallerySection {
    grid-column: 2 / 12;
    height: calc(25vw * 730 / 487 + 10rem);

    .imgWrapper {
      width: 35vw;

      &:first-of-type {
        right: 30vw;
        top: 1rem;
      }

      &:last-of-type {
        top: -3rem;
      }
    }
  }

  .infoSection {
    margin-top: 4rem;
    grid-column: 2 / 12;

    column-gap: 1.5rem;
    padding-bottom: 3rem;

    ul {
      padding-left: 1.5rem;
      margin-bottom: 0.5rem;

      &:first-of-type {
        margin-top: 2rem;
      }

      &:not(:first-of-type) {
        margin-top: 1.5rem;
      }

      li {
        font-size: 1.5rem;

        &::marker {
          font-size: 1.5rem;
        }
      }
    }

    span {
      font-size: 28px;
      padding-left: 6.3vw;
    }

    .scopeWrapper {
      grid-column: span 5;

      h3 {
        font-size: 3rem;
      }
    }

    .statsWrapper {
      grid-column: span 3;

      h3 {
        font-size: rem;
      }
    }
  }

  .socialsSection {
    grid-column: 2 / 12;
    margin-top: 2.5rem;

    h3 {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 680px) {
  .main {
    padding-top: 2.5rem;
  }
  .headerTop {
    grid-column: span 12;
  }

  .imageWrapper {
    grid-column: span 12;
    margin-top: 1rem;
  }

  .breakSection {
    margin-left: -1.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .gallerySection {
    height: calc(25vw * 730 / 487 + 5rem);

    & + .contentSection {
      margin-top: 8rem;
    }
  }

  .contentSection {
    margin-top: 2.5rem;
    grid-column: span 12;

    &:first-of-type {
      margin-top: 2.5rem;
    }

    span {
      font-size: 1rem;
    }
    h2 {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }

    p {
      font-size: 18px;
      margin-top: 2rem;

      &.specialOne {
        margin-top: 0px !important;
      }

      &:first-of-type {
        margin-top: 2.5rem;
      }
    }
  }

  .infoSection {
    grid-column: span 12;
    column-gap: 1rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
    row-gap: 1.5rem;

    .scopeWrapper {
      grid-column: span 12;

      h3 {
        font-size: 2rem;
      }
    }

    .statsWrapper {
      grid-column: span 12;

      h3 {
        font-size: 2rem;
      }
    }

    ul {
      margin-bottom: 0.25rem;

      &:first-of-type {
        margin-top: 1rem;
      }

      &:not(:first-of-type) {
        margin-top: 1rem;
      }

      li {
        font-size: 1rem;

        &::marker {
          font-size: 1rem;
        }
      }
    }

    span {
      font-size: 1.1rem;
    }
  }

  .socialsSection {
    grid-column: span 12;
    margin-top: 1.5rem;

    h3 {
      font-size: 1.2rem;
    }
  }
}
