.main {
  padding: 3.5rem 5.5rem 8.75rem;
  position: relative;
  h1 {
    font-size: 5.625rem;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 63vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/quarter-circle.svg');
    background-position: bottom right;
  }

  .contactSection {
    display: grid;
    grid-template-columns: repeat(12, minMax(0, 1fr));
    gap: 2.5rem;
    margin-top: 7.8rem;

    h2 {
      grid-column: 2 / 12;
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 3.5rem 3rem 7rem;

    .contactSection {
      margin-top: 4rem;

      h2 {
        grid-column: span 12;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .main {
    padding: 3.5rem 1.5rem 5rem;

    .contactSection {
      margin-top: 2rem;
      gap: 1.5rem;
    }
  }
}
