.contactForm {
  grid-column: 2 / 7;
  margin-top: 1.5rem;
  > div {
    display: flex;
    gap: 2rem;

    &:not(:first-of-type) {
      margin-top: 1.25rem;
    }

    &:last-of-type {
      justify-content: space-between;
    }

    p {
      font-size: 22px;
      line-height: 2.5rem;
      color: #626262;
      margin: 0;
    }
  }

  input,
  textarea {
    border-radius: 1rem;
    border: 1px solid #b1b1b1;
    padding: 12.5px 1.5rem;
    outline: none;
    color: #232325;
    font-family: var(--font-poppins);
    font-size: 22px;
    line-height: 2.5rem;
    width: 100%;

    &.error {
      border-color: #ff0000;
    }

    &:focus,
    &:active {
      border-color: #232325;
    }
  }

  textarea {
    resize: none;
  }

  button {
    border-radius: 24px;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    display: inline-flex;
    padding: 12px 1.5rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-family: var(--font-poppins);
    cursor: pointer;
    gap: 0.5rem;

    &::after {
      content: ' ';
      background-image: url('/arrow-right.svg');
      width: 28px;
      height: 16px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .contactForm {
    grid-column: span 12;

    input,
    textarea {
      font-size: 18px;
      // padding: 0.5rem 1.5rem;
    }
  }
}

@media screen and (max-width: 680px) {
  .contactForm {
    > div {
      gap: 1rem;

      &:last-of-type {
        flex-direction: column;
        justify-content: space-between;
      }

      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    input,
    textarea {
      font-size: 1rem;
      padding: 0.5rem 1.5rem;
    }
  }
}
