.contactForm {
  grid-column: 2 / 7;
  margin-top: 1.5rem;

  .rowWrapper {
    display: flex;
    gap: 2rem;

    &:last-of-type {
      justify-content: space-between;
      align-items: center;
      margin-top: 1.25rem;
    }

    .note {
      font-size: 22px;
      line-height: 2.5rem;
      color: #626262;
      margin: 0;
    }
  }

  input,
  textarea {
    border-radius: 1rem;
    border: 1px solid #b1b1b1;
    padding: 12.5px 1.5rem;
    outline: none;
    color: #232325;
    font-family: var(--font-poppins);
    font-size: 22px;
    line-height: 2.5rem;
    width: 100%;

    &.error {
      border-color: #ff0000;
    }

    &:focus,
    &:active {
      border-color: #232325;
    }
  }

  textarea {
    resize: none;
    margin-top: 1.25rem;

    &.error {
      margin-top: 0.5rem;
    }
  }

  .errorsWrapper {
    background-color: #fff6f6;
    width: 100%;
    border: 1px solid #ff0000;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;

    .errorMessage {
      color: #ff0000;

      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &::before {
        content: ' ';
        background-image: url('/warning-icon.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 14px;
        height: 14px;
        display: block;
      }
    }
  }

  button {
    border-radius: 4rem;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    display: inline-flex;
    padding: 12px 1.5rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-family: var(--font-poppins);
    cursor: pointer;
    gap: 0.5rem;
    max-height: 67px;

    &::after {
      content: ' ';
      background-image: url('/arrow-right.svg');
      width: 28px;
      height: 1rem;
    }
  }
}

@media screen and (max-width: 1650px) {
  .contactForm {
    grid-column: 2 / 8;
  }
}

@media screen and (max-width: 1400px) {
  .contactForm {
    grid-column: 2 / 9;
  }
}

@media screen and (max-width: 1024px) {
  .contactForm {
    grid-column: span 12;

    input,
    textarea {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 680px) {
  .contactForm {
    button {
      width: 100%;
      justify-content: space-between;
    }
    .rowWrapper {
      gap: 1rem;

      &:last-of-type {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
      }

      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    input,
    textarea {
      font-size: 1rem;
      padding: 0.5rem 1.5rem;
    }
  }
}
