.button {
  background-color: #000;
  border-radius: 4rem;
  padding: 12px 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  width: fit-content;
  min-width: fit-content;

  &.ctaLinkDesktop {
    margin-top: 4rem;
  }

  &.ctaLinkMobile {
    display: none;
  }

  &.floating {
    position: sticky;
    top: 85vh;
    left: 2rem;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  .overlay {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    background-color: var(--color_yellow);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.95;
    z-index: -1;
    transition: width 0.5s, height 0.5s;
  }

  &:hover {
    .overlay {
      width: 500px;
      height: 500px;
    }
  }

  .innerWrapper {
    position: relative;
    z-index: 1;

    .textWrapper {
      display: flex;
      flex-direction: column;

      span:first-of-type {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
      }

      span:last-of-type {
        color: #fff;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }

  &::after {
    content: ' ';
    background-image: url('/arrow-right.svg');
    width: 28px;
    height: 1rem;
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 1024px) {
  .button {
    &.ctaLinkDesktop {
      display: none;
    }

    &.floating {
      position: fixed;
    }

    &.ctaLinkMobile {
      grid-column: span 12;
      margin: 0 auto;
      display: flex;
    }
  }
}
