.button {
  background-color: #000;
  border-radius: 4rem;
  padding: 12px 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  overflow: hidden;
  width: fit-content;
  min-width: fit-content;

  &.ctaLinkDesktop {
    margin-top: 4rem;
  }

  &.ctaLinkMobile {
    display: none;
  }

  &.floating {
    position: sticky;
    top: 85vh;
    left: 2rem;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  .overlay {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    background-color: var(--color_yellow);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    transition: width 0.5s, height 0.5s;
  }

  &:hover {
    .overlay {
      width: 500px;
      height: 500px;
    }
  }

  .innerWrapper {
    position: relative;
    z-index: 1;

    .textWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span:first-of-type {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
      }

      span:last-of-type {
        color: #fff;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }

  &::after {
    content: ' ';
    background-image: url('/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 28px;
    height: 1rem;
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 1024px) {
  .button {
    &.ctaLinkDesktop {
      display: none;
    }

    &.floating {
      position: fixed;

      &.mobile {
        border-radius: 50%;
        right: 0.5rem;
        left: unset;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--color_yellow);
        width: 4rem;
        height: 4rem;
        padding: 0;

        &::after {
          background-image: url('/question-mark.svg');
          width: 20px;
          height: 45px;
          margin-right: 0.25rem;
        }

        &::before {
          content: ' ';
          background-image: url('/eureka.svg');
          background-repeat: no-repeat;
          background-size: cover;
          width: 18px;
          height: 18px;
          position: absolute;
          top: 10px;
          right: 12px;
        }
      }
    }

    &.ctaLinkMobile {
      grid-column: span 12;
      margin: 0 auto;
      display: flex;
    }
  }
}
