.header {
  margin-left: var(--site-padding);
  margin-right: var(--site-padding);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: calc(100% - 2 * var(--site-padding));
  z-index: 1000;

  .logoWrapper {
    display: flex;

    svg {
      width: 185px;
      height: 3rem;
    }
  }

  .navMenu {
    ul {
      display: flex;
      align-items: center;
      gap: 3rem;

      li {
        list-style: none;
        transition: color 0.3s ease;

        a {
          font-size: 14px;
          font-weight: 600;
          color: rgba(35, 35, 37, 0.6);

          &:hover {
            color: rgba(35, 35, 37, 1);
          }
        }

        &.active {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          a {
            color: rgba(35, 35, 37, 1);
          }

          &:before {
            content: '';
            background-color: rgba(35, 35, 37, 1);
            width: 10px;
            min-width: 10px;
            height: 10px;
            min-height: 10px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  &.light {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    .navMenu {
      > ul {
        li {
          a {
            color: rgba(255, 255, 255, 0.6);

            &:hover {
              color: rgba(255, 255, 255, 1);
            }
          }

          &.active {
            a {
              color: rgba(255, 255, 255, 1);
            }

            &:before {
              background-color: rgba(255, 255, 255, 1);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    transition: 0.3s all ease;
    position: absolute;

    .logoWrapper {
      svg {
        width: 150px;
        height: 39px;
      }
    }
  }

  .navbarMobileScrolled {
    border-radius: 30px;
    background-color: var(--color_yellow);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 73%;
    height: 66px;
    padding: 0px 24px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 21px;
    z-index: 9;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease;

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    .logoWrapper {
      display: flex;
      svg {
        width: 150px;
        height: 39px;
      }
    }

    &.active {
      visibility: hidden;
      opacity: 0;

      .mobileMenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: 0.5s all ease;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .header {
    padding-top: 16px;
    padding-bottom: 10px;

    .logoWrapper {
      svg {
        width: 111px;
        height: 1rem;
      }
    }

    .navMenu {
      position: relative;

      &.active {
        .mobileMenu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          transition: 0.5s all ease;
        }
      }

      .mobileMenu {
        opacity: 1;
        visibility: hidden;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.98);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 1.5rem 2rem;
        transform: translateY(-100%);
        transition: 0.5s all ease;

        ul {
          flex-direction: column;
          align-items: flex-start;
          gap: 1.5rem;
          margin-bottom: 35%;

          li {
            a {
              font-size: 38px;
              font-weight: 500;
            }

            &.active {
              gap: 1rem;

              &:before {
                width: 12px;
                height: 12px;
              }
            }
          }
        }

        .menuFooter {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .socialsWrapper {
            p {
              font-size: 14px;
              color: #1d1d1d;
            }

            .socials {
              display: flex;
              gap: 0.5rem;
              margin-top: 5px;

              .social {
                display: flex;
                justify-content: flex-end;
                gap: 0.5rem;

                span {
                  display: flex;
                  padding: 0.25rem 0.5rem;
                  align-items: center;
                  gap: 0.5rem;
                  border-radius: 1.5rem;
                  border: 1px solid #cecece;
                  background: #f3f3f3;
                  color: var(--color_text_main);
                  font-size: 10px;
                  font-weight: 500;
                  white-space: nowrap;
                  height: fit-content;
                }
              }
            }
          }

          .closeMenuButton {
            height: 34px;
            width: 34px;
            background-color: #1f1f1f;
            border-radius: 50%;
            border: 1px solid #888;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            cursor: pointer;

            .bar {
              width: 18px;
              height: 1.5px;
              // border-radius: 15px;
              background-color: #fff;
              transition: 0.2s all ease;

              &:nth-child(1) {
                transform: translateY(0em) rotate(45deg);
              }
              &:nth-child(2) {
                transform: translateY(-1px) rotate(-45deg);
              }
            }
          }
        }
      }
    }
  }
}
