.localeSwitcher {
  width: 5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  padding: 2px 12px;
  border: 1px solid #e8e4d7;
  border-radius: 4rem;
  position: relative;

  &::before,
  &::after {
    font-size: 1rem;
    transition: all 0.3s ease;
  }

  &::before {
    content: 'En';
    color: #030303;
  }

  &::after {
    content: 'Sr';
    color: #7b7b7c;
  }

  .switch {
    background-color: #ffd600;
    width: 2.5rem;
    height: 28px;
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    left: 1px;
    transition: all 0.3s ease;
  }

  &:has(.checkbox:checked) {
    &::after {
      color: #030303;
    }

    &::before {
      color: #7b7b7c;
    }

    .switch {
      left: calc(50% - 2px);
    }
  }

  .checkbox {
    display: none;
  }
}

@media (max-width: 680px) {
  .localeSwitcher {
    width: 75px;
    height: 34px;

    &::before,
    &::after {
      font-size: 1rem;
    }

    .switch {
      width: 38px;
      height: 30px;
      border-radius: 20px;
    }


  &:has(.checkbox:checked) {
    .switch {
      left: calc(50% - 3px);
    }
  }
  }
}
