$gridGap: 2rem;

.servicesSection {
  margin: 7.8rem 0 10.6rem;
  display: grid;
  grid-template-columns: repeat(12, minMax(0, 1fr));
  gap: $gridGap;

  picture {
    grid-column: span 5;
    width: 80%;
    margin: auto;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translate(0px, 0px);
    animation: floatY 6s ease-in-out infinite;
    display: block;
  }

  @keyframes floatY {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translate(0px, 0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translate(0px, -20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translate(0px, 0px);
    }
  }

  .servicesInfoWrapper {
    grid-column: span 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  .servicesSection {
    picture {
      grid-column: span 12;
    }

    .servicesInfoWrapper {
      grid-column: span 12;
    }
  }
}

@media screen and (max-width: 680px) {
  $gridGap: 1.5rem;

  .servicesSection {
    margin: 4rem 0;
    gap: $gridGap;

    .servicesInfoWrapper {
      section {
        margin-top: 10px;
      }
    }
  }
}
