$gridGap: 2rem;

.servicesSection {
  margin: 7.8rem 0 10.6rem;
  display: grid;
  grid-template-columns: repeat(12, minMax(0, 1fr));
  gap: $gridGap;

  .servicesInfoWrapper {
    grid-column: span 7;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .servicesSection {
    .servicesInfoWrapper {
      grid-column: span 12;
    }
  }
}

@media screen and (max-width: 680px) {
  $gridGap: 1.5rem;

  .servicesSection {
    margin: 4rem 0;
    gap: $gridGap;

    .servicesInfoWrapper {
      section {
        margin-top: 10px;
      }
    }
  }
}
