.emblaSlide {
  --slide-spacing: 1rem;
  --slide-size: 22.5vw;
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
  min-width: 320px;

  .innerWrapper {
    position: relative;
    overflow: hidden;

    .overlay {
      position: absolute;
      display: block;
      width: 0px;
      height: 0px;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      opacity: 0.95;
      z-index: 1;
      transition: width 0.5s, height 0.5s;
    }

    .imgWrapper {
      position: relative;
      aspect-ratio: 388 / 419;
    }

    .hoverTextWrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 0.5rem;
      z-index: 1;

      span {
        padding: 0 31px 0px 0;
        font-size: 16px;
        color: #000;
        visibility: hidden;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.2s;
        width: 80%;
        max-width: 350px;
        text-align: end;
      }

      p {
        padding: 0 31px 40px 0;
        font-size: 18px;
        color: #450303;
        visibility: hidden;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.2s;
        width: 80%;
        max-width: 350px;
        text-align: end;
      }
    }

    &:hover {
      .overlay {
        width: 2000px;
        height: 2000px;
      }
      .hoverTextWrapper {
        p, span {
          visibility: visible;
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
}

.infoWrapper {
  margin-top: 1rem;
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  position: relative;

  .titleWrapper {
    span {
      color: var(--color_text_main);
      font-size: 12px;
      font-weight: 500;
    }

    h5 {
      font-size: 22px;
      white-space: nowrap;
    }
  }

  .categoriesWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

    span {
      display: flex;
      padding: 0.25rem 0.5rem;
      align-items: center;
      gap: 9px;
      border-radius: 1.5rem;
      border: 1px solid #cecece;
      background: #f3f3f3;
      color: var(--color_text_main);
      font-size: 10px;
      font-weight: 500;
      white-space: nowrap;
      height: fit-content;
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 680px) {
  .emblaSlide {
    --slide-size: 54vw;
    min-width: 54vw;

    .innerWrapper {
      .overlay {
        transition: 1s;
      }

      .hoverTextWrapper {
        p {
          font-size: 1rem;
          padding: 0 1rem 1rem;
          width: 100%;
          text-align: start;
        }

        span {
          font-size: 14px;
          padding: 0 1rem 0.25rem;
          width: 100%;
          text-align: start;
        }
      }
    }
  }

  .projectInfoWrapper {
    margin-top: 1rem;

    .titleWrapper {
      order: 1;

      span {
        color: var(--color_text_main);
        font-size: 12px;
        font-weight: 500;
      }

      h5 {
        font-size: 18px;
      }
    }
    .categoriesWrapper {
      order: 2;
      justify-content: flex-start;
      margin-top: 0.5rem;
      flex-wrap: wrap;
    }
  }
}
