$gridColumnGap: 2rem;
$gridRowGap: 3rem;

.main {
  padding-top: 7.75rem;
  padding-left: 0;
  padding-right: 0;
}

.heroSection {
  display: grid;
  grid-template-columns: repeat(12, minMax(0, 1fr));
  column-gap: $gridColumnGap;
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
  padding-bottom: 6rem;

  * {
    grid-column: 4 / 10;
    text-align: center;
  }

  h2 {
    font-size: 4rem;
    line-height: 4.1rem;
  }

  p {
    font-size: 22px;
    line-height: 40px;
    margin-top: 1.5rem;
  }
}

.projectsSection {
  position: relative;

  .project {
    display: grid;
    grid-template-columns: repeat(12, minMax(0, 1fr));
    column-gap: $gridColumnGap;
    padding: 5.5rem var(--site-padding);
    $bgColorLight: #fff;
    $textColorLight: #000;
    $borderColorLight: rgba(0, 0, 0, 0.6);
    $bgColorDark: #000;
    $textColorDark: #fff;
    $borderColorDark: rgba(255, 255, 255, 0.6);
    background-color: $bgColorLight;

    * {
      color: inherit;
    }

    .titleWrapper {
      grid-column: span 3;

      a {
        display: inline-flex;
        h3 {
          border-bottom: 1px solid $borderColorLight;
          width: fit-content;
        }
      }
    }

    .projectContent {
      grid-column: span 9;
      display: grid;
      grid-template-columns: repeat(9, minMax(0, 1fr));
      column-gap: $gridColumnGap;
      row-gap: $gridRowGap;

      p {
        &:first-of-type {
          grid-column: span 5;
        }

        &:last-of-type {
          grid-column: span 4;
        }
      }

      .projectImageWrapper {
        grid-column: span 9;
        position: relative;
        width: 100%;
        aspect-ratio: 1228 / 480;
      }
    }
  }
}

.ctaSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  padding: 0 8rem;
  height: 348px;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }

  &::after {
    bottom: 0;
    left: 0;
    width: 28vw;
    background-image: url(/cta-bg-2.svg);
    background-position: bottom left;
  }

  &::before {
    top: 0;
    right: 0;
    width: 66vw;
    background-image: url(/cta-bg-1.svg);
    background-position: top right;
  }

  h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .heroSection {
    padding-bottom: 5rem;

    * {
      grid-column: span 12;
    }

    h2 {
      font-size: 2.5rem;
    }
  }

  .projectsSection {
    .project {
      display: flex;
      flex-direction: column;
      padding: 2rem var(--site-padding);

      &:last-of-type {
        padding-bottom: 4rem;
      }

      .titleWrapper {
        h3 {
          font-size: 2rem;
        }
      }

      .projectContent {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        row-gap: 2rem;

        .projectImageWrapper {
          aspect-ratio: 383 / 230;
        }
      }
    }
  }

  .ctaSection {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 7rem 3rem;
    gap: 3rem;

    h2 {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }
  }
}

@media screen and (max-width: 680px) {
  $gridGap: 1.5rem;

  .heroSection {
    padding-bottom: 4rem;

    h2 {
      font-size: 2rem;
      left: 1.5rem;
      bottom: 1.5rem;
    }
  }

  .projectsSection {
    .project {
      &:last-of-type {
        padding-bottom: 3.5rem;
      }
    }
  }

  .ctaSection {
    padding: 4.875rem 1.5rem;
    gap: 2rem;

    h2 {
      font-size: 2rem;
      line-height: 3rem;
    }

    &::after {
      width: 63vw;
      background-image: url(/cta-bg-2.svg);
    }

    &::before {
      width: 100vw;
      background-image: url(/cta-bg-1-mobile.svg);
    }
  }
}
