$gridGap: 2rem;

.main {
  padding-top: 3.75rem;
  .headerImgWrapper {
    position: relative;
    aspect-ratio: 1654 / 592;
    margin-top: 3.75rem;
  }

  h1 {
    font-size: 5.625rem;
  }

  .aboutUsSection {
    display: grid;
    grid-template-columns: repeat(12, minMax(0, 1fr));
    padding: 4rem 0 0;
    gap: $gridGap;

    h2 {
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
      grid-column: span 3;
      line-height: 6.875rem;
      width: fit-content;
      height: fit-content;
      white-space: nowrap;
      margin-top: -1.5rem;
    }

    p {
      grid-column: span 9;
      font-size: 3rem;
      line-height: 4rem;
    }
  }

  .coreValuesSection {
    display: grid;
    grid-template-columns: repeat(4, minMax(0, 1fr));
    gap: 3rem;
    max-width: 1700px;
    margin: 5.125rem auto 6.5rem;

    .coreValue {
      grid-column: span 1;
      position: relative;

      &::before {
        display: block;
        font-size: 10rem;
        font-weight: 200;
        color: #060606;
        position: absolute;
        right: 0;
        top: -2rem;
        opacity: 0.1;
      }

      &:nth-of-type(1) {
        &::before {
          content: '01';
        }
      }

      &:nth-of-type(2) {
        &::before {
          content: '02';
        }
      }

      &:nth-of-type(3) {
        &::before {
          content: '03';
        }
      }

      &:nth-of-type(4) {
        &::before {
          content: '04';
        }
      }

      &:nth-of-type(even) {
        margin-top: 3rem;
      }

      img {
        display: block;
        margin: 0 auto 2rem;
      }

      h3 {
        font-size: 36px;
        line-height: normal;
      }

      p {
        font-size: 22px;
      }
    }
  }

  .breakSection {
    display: grid;
    grid-template-columns: repeat(12, minMax(0, 1fr));
    gap: $gridGap;
    position: relative;

    h1 {
      position: absolute;
      font-size: 8vw;

      &:first-of-type {
        top: 1rem;
        left: 0;
      }

      &:last-of-type {
        bottom: 0;
        right: 0;
      }
    }

    .imgWrapper {
      position: relative;
      aspect-ratio: 1088 / 443;
      grid-column: 3 / 11;
      width: 100%;

      img {
        z-index: -1;
      }
    }
  }

  .aboutBeesSection {
    display: grid;
    grid-template-columns: repeat(12, minMax(0, 1fr));
    padding: 4rem 0 0;
    gap: $gridGap;

    h2 {
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
      grid-column: span 3;
      line-height: 6.875rem;
      width: fit-content;
      height: fit-content;
      white-space: nowrap;
      margin-top: -1.5rem;
    }

    div {
      grid-column: span 9;

      p {
        font-size: 3rem;
      }

      ul {
        margin-top: 2rem;
        padding-left: 2rem;

        li {
          font-size: 2rem;

          &::marker {
            font-size: 1.5rem;
          }
        }
      }
    }

    h3 {
      grid-column: 4 / 10;
      margin-top: 3rem;
      font-size: 3rem;
      font-weight: 300;

      span {
        font-family: var(--font-source-serif-4);
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 1750px) {
  .main {
    padding-top: 2.2rem;

    .aboutUsSection {
      h2 {
        grid-row: 1;
        margin-top: 0;
      }

      p {
        grid-row: 2;
        grid-column: 3 / 12;
      }
    }

    .aboutBeesSection {
      h2 {
        grid-row: 1;
        margin-top: 0;
      }

      div {
        grid-row: 2;
        grid-column: 3 / 12;
      }

      h3 {
        grid-row: 3;
        grid-column: 3 / 10;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    h1 {
      font-size: 4rem;
    }

    .aboutUsSection {
      p {
        font-size: 2rem;
        line-height: 3rem;
      }
    }

    .coreValuesSection {
      gap: 3rem;
      margin: 4.125rem auto 5rem;

      .coreValue {
        &::before {
          top: 0rem;
          font-size: 8rem;
        }

        h3 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    .aboutBeesSection {
      div {
        p {
          font-size: 2.5rem;
        }

        ul {
          margin-top: 1rem;
          li {
            font-size: 1.5rem;

            &::marker {
              font-size: 18px;
            }
          }
        }
      }
      h3 {
        margin-top: 2rem;
        font-size: 2rem;
        grid-column: 3 / 12;
        span {
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  $gridGap: 1.5rem;
  .main {
    padding-top: 4.5rem;
    padding-bottom: 4rem;

    h1 {
      font-size: 3rem;
    }

    .headerImgWrapper {
      margin-top: 1.5rem;
    }

    .aboutUsSection {
      padding: 3rem 0 2.5rem;
      gap: $gridGap;

      h2 {
        line-height: 56px;
      }

      p {
        grid-column: span 12;
        font-size: 1rem;
        line-height: 2rem;
      }
    }

    .coreValuesSection {
      gap: 2rem;
      margin: 0 auto 4rem;
      grid-template-columns: repeat(2, minMax(0, 1fr));

      .coreValue {
        &::before {
          top: 1rem;
          font-size: 6rem;
        }
      }
    }

    .breakSection {
      display: grid;
      grid-template-columns: repeat(12, minMax(0, 1fr));

      h1 {
        font-size: 8vw;

        &:first-of-type {
          top: 1rem;
        }

        &:last-of-type {
          bottom: 0;
        }
      }

      .imgWrapper {
        aspect-ratio: 1088 / 443;
        grid-column: 1 / 13;
      }
    }

    .aboutBeesSection {
      padding-top: 3rem;
      column-gap: 0;

      h2 {
        line-height: 56px;
      }

      div {
        grid-column: 2 / 13;
        p {
          font-size: 1.5rem;
        }

        ul {
          margin-top: 0.5rem;
          padding-left: 1.5rem;

          li {
            font-size: 1rem;

            &::marker {
              font-size: 1rem;
            }
          }
        }
      }
      h3 {
        margin-top: 0px;
        font-size: 1.5rem;
        grid-column: 2 / 13;
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}
